img.signuppage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 780px;
    
    width: 100%;
}

p.noow {
    font-size: 52px !important;
    color: #d2322f;
    font-weight: 700;
}
select.upsel {
    margin-left: 3px;
    word-wrap: normal;
}


.loader{
    height: 90px;
    
}
