img.signuppage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 780px;
    
    width: 100%;
}

p.noow {
    font-size: 52px;
    color: #d2322f;
    font-weight: 700;
}


