form.signform {
    color: white;
    background: black;
    position: absolute;
    top: 28%;
    height: auto;
    opacity: 0.8;
    left: 60%;
    padding: 3%;
}

img.signpage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: black;
    opacity: .99;
    height: auto;
    width: 100%;
}
.signlabel {
    font-size: 18px;
    color: white;
    margin-right: 6px;
}