@import 'https://fonts.googleapis.com/css?family=Gochi+Hand';
ul.ulqa {
    width: 100%;
    margin-top: 3%;
    margin-left: 1%;
    list-style: none;
  
}

   

form.ddddform{

    display: flex;
    flex-direction: row;
}
textarea.form-control {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 84px !important;
    width: 100%;
}
.form-group {
    margin-bottom: 1rem;
    width: 94%; 
}

.quescard {
    width: 80% !important;
    border: 1px solid;
    border-radius: 7px;
    font-family: 'Roboto Condensed', sans-serif;
  
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    margin-left: 6%;
    border: none;
    padding: 1.25rem;
    
}
.roooow{
    display: flex;
    background-color:#f0f0f0cc;
    border-radius: 10px;
    padding: 10px 5px;
    margin-bottom: 5px;    
}
.roooow1{
    display: flex;
}
hr.hrusername{
    margin-top: 30px;
    margin-left: -400px;
    width: 12%;
}
.subjectquestion{
    margin-left: 10%;
    margin-bottom: 20px;
}
.quetitle{
    font-weight: bolder;
    font-size: 15px;
}
img.queimg {
    margin-right: 1%;
    border-radius: 21px;
}
span.queuser {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;

    line-height: 2.5;
}

button.deleteques {
    position: absolute;
    left: 96%;
    width: 99%;
    background: #fffffffa;
    border-radius: 16px;
}
.qqqqqq{
    margin-right: 4%;
}



form.qaformmm {
    margin-left: 20%;
    width: 64%;
    padding: 1% 3%;
    color: rgb(0, 0, 0);
}


.uu {
    width: auto !important;
}

legend {
    display: block;
    width: 29% !important; 
    max-width: 100%;
    padding: 0;
    background: white;
    margin-bottom: .5rem;
    font-size: 1.0rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 14px !important;
}

fieldset {
    min-width: 0;
    padding: 9px 33px !important;
    margin: 0;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.425) !important;
    box-shadow: 1px 1px 3px 1px #888888;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;

}

button.oo {
    margin-top: 1%;
    margin-bottom: 1%;
    width:15%;
    margin-left: 85%;
    font-size: 15px;
    background: #c62726;
    outline: none;
    border: none;
}
button.oo:focus {
    outline: 0 !important;
    background: #881616e6;
    color: white;
    border: none;
}
button.oo:focus {
    outline:0;
    background: #881616e6;
    color: white;
    border: none;
}
button.oo:hover {
    background: #881616e6;
    color: white;
    border: none;
}

button.deleteques {
    position: absolute;
    left: 91%;
    width: 3%;
    background: #ffffff;
    border-radius: 3px;
    border: none;
    margin-top: 8%;
    margin-left: -.1%;
}

.qc {
    border-top: 0px !important;
    width: 19%;
    
    position: initial;
    border: 0.5px solid #d4d1d1;
}
.eec{
    border-top: 0px !important;
    width: 105%;
    position: relative;
    margin-bottom: 32px;
    left: -3%;
    box-shadow: 0px 0px 2px 0px #888888;
    border: 0.5px solid #d4d1d1;
}
li{
    list-style: none;
}

.qqqqq {
    margin-left: 3%;
    background: white;
    width: 94%;
    margin-bottom: 1%;
    border: 1px solid gainsboro;
    img {
        margin-right: 1%;
        border-radius: 21px;
    }
}

.bbwb{
    border: 1px solid gainsboro;
    padding: 8px 10px;
    margin-top: 0px !important;
    p{
        margin-left: 9%;
        font-weight: bolder;
    }
    .eeec{
        border-top: 0px !important;
        width: 24%;
        position: initial;

        border: 0.5px solid #d6a9a9;
    }
}


button.deleteans {
    position: absolute;
    left: 91%;
    width: 3%;
    background: #ffffff;
    border-radius: 3px;
    border: none;
    margin-top: 7%;
    
}

.card-header {
    padding-bottom: 44px;
}

.replybtn{
    width: 13%;
    margin-left: 80%;
    background-color: #c62726;
    border: none;
    border-radius: 3px;
    color: white;
    margin-top: 2%;
    margin-bottom: 1%;
    position: relative;
}
.replybtn:hover{
    width: 13%;
  background-color: rgba(19, 18, 18, 0.863);
  border: none;
}
.textareaquestion{
    width: 90%;
    border: 2px solid rgb(199, 196, 196);
  
}
.btnanswer{
    width: 14%;
    margin-left: 80%;
    background-color: #c62726;
    border: none;
    border-radius: 3px;
    color: white;
    margin-top: 2%;
    padding: 0px 6px;
  border: none;
}


.btnanswer:hover{
    width: 14%;
  background-color: rgba(19, 18, 18, 0.863);
  border: none;
}

.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: -1px;
    background-color:white;
}
.accordion {
    margin-left: 16%;
}