@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

img.d-blllo {
    vertical-align: middle;
    border-style: none;
    height: 383px;
    width: 42%;
}
h4.num4 {
    text-align: center;
    color: white;
    margin-top: 22px;
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
}
h2.num {
    font-weight: 600;
    color: white;
    font-size: 70px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;

}
button.classbttn.btn.btn-primary {
    width: 100%;
    background: #c03534;
    border: #c03534;
    font-family: 'Roboto Condensed', sans-serif;

}
.card-title.h5 {
    text-align: center;
    font-weight: 800;
    font-size: 22px;
}
i.k{
    margin-left: 11px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
}
p.bbbbb {
    width: 100%;
    margin-top: 20px;
    
}
.card-title {
    margin-bottom: .75rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.vision {
    display: flex;
    margin: 90px;
    margin-top: 69px;
}
.visions {
    margin-left: 60px;
    width: 40%;
    font-size: 18px;
}
h3.h3vision {
    font-family: fantasy;
    word-spacing: 4px;
    // text-shadow: 2px 2px 5px red;
}

p.pvision {
    padding-top: 16px;
    font-family: sans-serif;
    font-size: 18px;
}

button.divbttn {
    background: #f3f3f3;
    border-color: #f3f3f3;
    width: 99%;
    color: black;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 2px;
}
button.divbttn:hover {
    background: rgb(243, 10, 10);
    border-color: red;
    width: 99%;
    border-radius: 2px;
}
button.divbttn:focus {
    // color: #fff;
    background-color: red;
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(104, 106, 107, 0.5);
}
div#example-collapse-text {
    padding-top: 15px;
    padding-left: 19px;
    padding-right: 9px;
    padding-bottom: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #212529;}

    button.divbttn.btn.btn-primary {
        margin-bottom: 10px;
        width: 125%;
    }
    
    hr.hrhoome {
        position: relative;
       margin-top: 2%;
       margin-bottom: 3%;
        left: 42.5%;
        width: 15%;
    }


h5.h5 {
    padding-bottom: 9px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    // text-shadow: 2px 2px 5px red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
    // margin-right: 0 !important;
    // margin-left: 0 !important;
}
.f {
    font-weight: 600;
    // color: rgb(184, 183, 182);
    color: gold;
    font-size: 20px !important;
}
i.fas.fa-graduation-cap.fa-pull-left.fa-3x {
    position: relative;
    left: -63px;
    line-height: 1.6;
    font-size: 25px !important;
    color: #C62828;
}

.card {
   width:28% !important;
    margin: 14px;
}
img.card-img-top {
    height: 210px;
}
h3.COURSES {
    text-align: center;
    // text-shadow: 2px 2px 5px red;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 43px;
}
.container.text-center.text-md-left.yy {
    padding-top:7%;
    padding-bottom: 3%;
    
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    margin: 20px;

    min-width: 0;
    // margin-right: 51px;
    width: 240px !important;
    height: 174px;
    border: 1px solid rgb(173, 173, 173);
    max-width: 100%;
}
.col:hover {
    
    border: 1px solid rgb(211, 11, 11);
}
.cour {
    background: #f0f0f0cc;
    padding: 2.5%;
}
p.wlc {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}
// .show-true{
// display: block;
// }
// .show-false{
//     display: none;
//     }
svg {
    /* color: red; */
    background: #c32422;
}
img {
    vertical-align: middle;
    border-style: none;
    height: 37px;
}
footer.page-footer.mdb-color.font-smalll{
    background-image: url(http://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/bg/counter-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}
.line{
    border-top: 1px solid rgb(150, 149, 149) !important;
    width: 40%;
}
.uul {
    text-align: center;
}
p.card-text {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    // margin-top: 11px;
    }
p.subj.card-text {
    text-align: center;
    font-size: 19px;
    color: rgb(175, 5, 5);
    /* font-weight: 700; */
    font-family: 'Roboto Condensed', sans-serif;
        font-weight: bolder;
}
.card-title {
    margin-bottom: .75rem;
    font-size: 24px;
}
p.wlasac {
    text-align: center;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 10%;
    border: 0;
    border-top: 3px solid red !important;
    position: relative;
    left: 45%;
}
 img.card-img-top:hover {
    -webkit-filter: brightness(50%);
    transition: 0.7s ease-in-out;
    // -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    5% { opacity:.5; }
    100% { opacity:1; }
}
.box{
    font-family: 'Bellota', cursive;
    overflow: hidden;
    position: relative;
}
.box:before{
    content: '';
    height: 100%;
    width: 100%;
    border: 2px solid rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.6s ease 0s;
}
.box:hover:before{ border: 270px solid rgba(0,0,0,0.5); }
.box img{
    width: 100%;
    height: auto;
    transform-origin: right center;
    transition: all .4s ease-in-out;
}
.box:hover img{ transform: scale(1.2); }
.box .box-content{
    color: #fff;
    text-align: center;
    width: 100%;
    opacity: 0;
    transform: translateY(-50%) scale(0.1);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transition: all 0.4s ease 0.1s;
}
.box:hover .box-content{
    opacity: 1;
    transform: translateY(-50%) scale(1);
}
.box .title{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    margin: 0;
}
.box .post{
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}
.box .icon li{
    margin: 0 0 0 2px;
    display: inline-block;
    vertical-align: top;
    opacity: 0;
    transition: 0.4s ease 0.3s;
}
.box:hover .icon li{ opacity: 1; }
.box:hover .icon li:nth-child(1){ transition-delay: 0.4s; }
.box .icon li a{
    color: #111;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: block;
    transition: 0.3s ease-in-out;
}
.box .icon li a:hover{
    line-height: 40px;
    height: 40px;
    box-shadow: 0 0 5px #999 inset;
}
@media only screen and (max-width:990px){
    .box { margin: 0 0 30px; }
}
.achivment {
    position: relative;
    top: -11px;
    width: 53%;
}
// h3.aa {
//     color: white;
// }
.bb {
    display: inline;
    position: relative;
    top: 32px;
    left: 64px;
    /* color: white; */
}
img.d-bloo {
    position: relative;
    top: -13px;
    height: 385px;
    width: 365%;
    left: -58px;
    box-shadow: 0 0px 34px 0px  rgba(104, 106, 107, 0.9);

}

.carousel-innner {
    position: relative;
    width: 63%;
    height: 429px;
    margin-left: 16%;
    overflow: hidden;
    margin-bottom: 54px;
}
img.d-blo {
    vertical-align: middle;
    border-style: none;
    height: 430px;
    width: 75%;
    margin-left: 12%;
    opacity: 0.4;
    box-shadow: 0px 0px 27px 4px grey;
}

#homeheight{
    height: 130px;
}

.carousel-caption.feeedback {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 24%;
    z-index: 10;
    font-family: 'Roboto Condensed', sans-serif;
    width: 52%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    top: 30px;
    font-size: 18px;
    text-align: center;
}

.d-bloooooo {
    height: 110px;
    margin-bottom: 2%;
    border-radius: 59px;
}