
footer.page-footer.mdb-color.font-small.lighten-3.pt-4.mt-4 {
    background-image: url(http://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/bg/counter-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 403px;
}
.footer-copyright.text-center.py-3 {
    border-style: solid;
}
.mt-2 {
    display: grid;
    // height: 124px;
}
a.btn-floating.btn-small {
    font-size: x-large;
    
}
.mb-4, .my-4 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;

    margin-bottom: 1.5rem!important;
}
.fa-dribbble {
    content: "\f17d";
    color: white;
}
.fa-dribbble:hover {
    content: "\f17d";
    color: white;
}
.fa-google-plus {
    content: "\f2b3";
    color: darkred;
}
.fa-twitter {
    content: "\f099";
    color: cadetblue;
}
.fa-facebook-f {
    content: "\f39e";
    color: #5656ea;
}
.fa-google-plus:hover {
    content: "\f2b3";
    color: white;
}
.fa-twitter:hover {
    content: "\f099";
    color: white;
}
.fa-facebook-f:hover{
    content: "\f39e";
    color: white;
}
a.edu{
    color: red !important;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
   
    color: white;
}
h5.text-uppercase.mb-4.font-weight-bold {
    display: inline;
    
}
.imgg {
    position: relative ;
    left: 7px !important;
    line-height: 1 !important;
}
h5.text-uppercase.mb-4.font-weight-bold.r {
    margin-left: 9px;
    font-family: 'Roboto Condensed', sans-serif;
}
.container.text-center.text-md-left {
    padding-top: 2%;
    padding-bottom: 3%;
}
.ll {
    color: #8b1817;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-top: 17px;
}

.bbb {
    margin-top: 17px;
}
.ttt {
    margin-top: 17px;
}