h3.CLASSES {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 29px;
    font-weight: 600;
    margin-top: 24px;
    margin-left: 88px;
}

p.subj1.card-text {
    text-align: center;
    font-size: 19px;
    color: rgb(175, 5, 5);
    /* font-weight: 700; */
    font-family: 'Roboto Condensed', sans-serif;
        font-weight: bolder;
}
button.adtodashbtn {
    background: rgb(168, 5, 5);
    font-family: 'Roboto Condensed', sans-serif;
    border: revert;
    width: 99%;
}


button.adtodashbtn:hover {
    background: rgb(19, 18, 18);
    font-family: 'Roboto Condensed', sans-serif;
    border: revert;
}
p.textclasses1{
    background: #e8e5e52e;
    margin-left: -19px;
    margin-right: -20px;
    font-family: 'Roboto Condensed', sans-serif;

    padding: 11px;
    height: 145px;
}
.spanpar{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
}
.nonBold{
    white-space: pre;
}


a.navLinkClasses {
    // position:absolute;
        color: white;
        background: rgb(19, 18, 18);
        font-weight: 800;
        font-size: 25px;
        border: 2px solid;
        width: 13%;
        padding: 3px;
        top: -46px;
        border-radius: 7px;
        left: 84%;
        text-align: center;
        position: relative;
        text-decoration: none !important;
        font-family: 'Roboto Condensed', sans-serif;
        text-decoration: underline;
}

a.navLinkClasses:hover{
    color: #4d4e4e !important;
    text-decoration: none !important; 
}
.classes {
    // background: #f0f0f0cc;
    padding: 2.5%;
    height: auto;
    margin-bottom: 17px;
}
.couresclasses.card-title.h5 {
    margin-bottom: 28px;
}


hr.hrrrdash {
    position: relative;
//    margin-top: 2%;
//    margin-bottom: 3%;
    left: 7%;
}
#classheight{
    height: 165px;
}

// .dash {
//     margin-top: 40px;
// }

.buttonclasses {
    display: grid;
    height: 59px;
}

.deleteclass{
    position: absolute;
    left: 90%;
    width: 8%;
    background: #c62726;
    border-radius: 3px;
}